html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #241a57;
  background-image: url('/enflujo-miradas/fondo_calor.svg');
  color: aliceblue;
  font-family: Consolas, monaco, monospace;
}

main {
  padding: 3em 5em;
}

a,
a:link {
  color: rgb(209, 236, 236);
  text-decoration: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: aquamarine;
    color: black;
  }
}

ul {
  list-style: none;
}
